body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: orange;
  color: black;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.achievement {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  opacity: 0; 
}

.animate-slide {
  animation: slideIn 0.5s ease-in-out forwards;
}
.image{
  display: flex;
  justify-content: flex-end;
}
.image img{

  width: 26%;
  height: 20vh;
}

footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.button-container {
    margin-top: 15px;
}

.button {
    padding: 10px 30px;
    margin: 0 10px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    background-color: orange;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.button:hover{
      border: 3px solid orange;
      background-color: white;
      color: orange;
      box-shadow: -2px -2px 5px white;
}


.back{
      padding: 10px 30px;
      margin: 0 10px;
      border: 2px solid white;
      border-radius: 5px;
      cursor: pointer;
      background-color: lightgrey;
      color: black;
      font-size: 15px;
      font-weight: bold;
}

#homebutton{
      display: flex;
}

#home{
      /*margin-left: auto;*/
      width: 50px;
      height: 50px;
      justify-content: flex-end;

    } 


@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 600px) {
  .achievement {
    padding: 15px;
  }
}

@media (max-width: 768px) {
      .button-container {
        flex-direction: column;
      }
      .button {
        margin: 5px 0;
      }
    }
    @media (max-width: 768px) {
      .button-container {
        flex-direction: column;
      }
      .back {
        margin: 5px 0;
      }
    }